% extends_config 'common',
%     app => 'MyApp',
%     url => 'http://localhost:9010';
{
   "databases" : {
        "dev" : {
            "database" : "metadataserver",
            "schema"   : "mds"
        }
   }
}
