<tmpl_loop schemas><tmpl_loop tables>
_CUT: <tmpl_if view_definition>view<tmpl_else>table</tmpl_if>_<tmpl_var table>.pod
=head1 NAME

<tmpl_var table>

=head1 DESCRIPTION

<tmpl_var table_comment>

=head1 FIELDS

<tmpl_loop columns> <tmpl_var column> (<tmpl_var column_type>) - <tmpl_var column_comment>
</tmpl_loop>

=head1 SCHEMA

_DB: \d+ <tmpl_var table>

=cut

</tmpl_loop>
</tmpl_loop>


